@import url(variables.css);
 


.header{
    background-color: var(--color-1);
    display: flex;
    flex-direction: column;
    height: 50%;
    text-align: center;
}

.header h4{
    color: var(--color-4);
    margin-top: 30px;
    margin-bottom: 10px;
    font-size: 5vh;
}

.header span{
    color: var(--color-4);
    padding-bottom: 5px;
}

.nav{
    /* background: red; */
    padding: var(--space-layout-padding-lr);
    margin-top: 5px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 18px;
    opacity:.6;
}
.nav__search{
    /* background: yellow; */
    position: relative;
}
.nav__search input{
    outline: none;
    width: 260px;
    height: 35px;
    border-radius: 10px;
    padding-left: 2.5rem;
    padding-right: 1.5rem;
    border: 1px solid var(--color-);
    color: var(--color-3);
}
.search__icon{
    position: absolute;
    display: block;
    bottom: .1rem;
    left: .8rem;
    user-select: none;
    cursor: pointer;
}

.main{
    overflow-x: scroll;
}

.people{

    display: flex;
}

.people img{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    margin-top: 18px;
    margin-left: 20px;
}

.text{
    display: flex;
    flex-direction: column;
    margin-left: 30px;
}


.text span{
    margin-top: -10px;
}